nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}



.nav-title {

    color: var(--Dark-01, #181818);

    font-size: 45px;
    font-weight: 800;
    line-height: normal;

}

nav>ul {

    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
}

.first-btn {

    border-radius: 5px;
    background: #FD6E0A;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    line-height: normal;
    padding: 15px 35px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

.header-class {
    background: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    width: 584px;
    height: 676px;
    flex-shrink: 0;

}

.banner-name {
    color: var(--Dark-02, #474747);

    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner-head {
    color: var(--Dark-01, #181818);

    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.details {
    color: var(--Dark-03, #757575);

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 5px;
}

.banner-content {
    max-width: 500px;
}

.section {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8f3;
    margin-top: 130px;
    text-align: center;
    
    
}

.section-title {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-des {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
main{ 
    max-width: 1140px;
    margin: 0 auto;

}
.about-info-des{
    display: flex;
    justify-content: space-around;

}

.about-info{
    text-align: center;
}
 
#What{
    padding: 30px 150px;
}
.skil-container{
    display: flex;
    gap: 24px;
}
.skill{
padding: 30px;

border-radius: 5px;
background: #FFF;

box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

main section{
    margin-top: 130px;
}

.resume-column{
    color: var(--Dark-02, #474747);


line-height: normal;
}

.resume-container{
   
}
.Summary{
    text-align: center;
}
.resume-container{
    display: flex;
    gap: 70px;
}

.resume-des, .resume-ins{
    color: #757575;
}
.resume-container hr{
    margin: 25px;
}
.resume-ins{
    margin-bottom: 20px;
    margin-top: 0px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
footer{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 230px;
}

.footer-item{
   width: 50%;
}
.cont, textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    border: 0px;
    width: 100%;
}

input{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    border: 0px;
    width: 100%;

}

.social-link{
    margin-right: 25px;
}

.first-btn1{
    border-radius: 5px;
    background: #FD6E0A;
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    color: #181818;

}